<!doctype html>
<html lang="en">
  <head>
    <title>Visitor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body class="dashboard-body">
    <div class="dashboard-container">
      <aside class="sidebar">
        <div class="logo"><i class="ri-building-2-line"></i> AdminPanel</div>
        <ul class="menu">
          <li>
            <a href="/admin/dashboard"
              ><i class="ri-dashboard-line"></i> Dashboard</a
            >
          </li>
          <li>
            <a href="/admin/tenants"><i class="ri-user-line"></i> Tenants</a>
          </li>
          <li>
            <a href="/admin/invoices"
              ><i class="ri-file-list-3-line"></i> Invoices</a
            >
          </li>

          <li>
            <a href="/admin/visitors" class="active"
              ><i class="ri-shield-user-line"></i> Visitors</a
            >
          </li>
          <li>
            <a href="/admin/bookings"
              ><i class="ri-calendar-check-line"></i> Bookings</a
            >
          </li>
          <li>
            <a href="/admin/polls"
              ><i class="ri-bar-chart-box-line"></i> Polls</a
            >
          </li>
          <li>
            <a href="/admin/notices"
              ><i class="ri-notification-3-line"></i> Notices</a
            >
          </li>

          <li>
            <a href="/admin/complaints"
              ><i class="ri-feedback-line"></i> Complaints</a
            >
          </li>
          <li>
            <a href="/admin/settings"
              ><i class="ri-settings-4-line"></i> Settings</a
            >
          </li>
        </ul>
        <a href="/logout" class="logout-btn">
          <i class="ri-logout-box-line"></i> Logout
        </a>
      </aside>

      <main class="main-content">
        <h1 class="section-title">🛑 Daily Visitor Logs</h1>

        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Visitor Name</th>
                <th>Host (Resident)</th>
                <th>Phone</th>
                <th>Date & Time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for v in visitors %}
              <tr>
                <td style="font-weight: bold; color: white">{{ v[1] }}</td>
                <td>{{ v[6] }}</td>
                <td>{{ v[2] }}</td>
                <td>{{ v[3] }} ({{ v[4] }})</td>
                <td><span class="status paid">{{ v[5] }}</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </body>
</html>
